
# API KEYS
OPENAI_API_KEY=

# ACCOUNT KEYS
NEXT_PUBLIC_BOT_PUBLIC_KEY=
BOT_PRIVATE_KEY=

# SETUP
NEXT_PUBLIC_APP_URL=https://opensecret.vercel.app
NEXT_PUBLIC_BASE_URL="https://mintbase.xyz"
NEXT_PUBLIC_MINTBASE_WALLET_URL="https://wallet.mintbase.xyz"
NEXT_PUBLIC_NFT_CONTRACT_ADDRESS="opensecret.near"
NEXT_PUBLIC_NETWORK="mainnet"
NEXT_PUBLIC_APP_TITLE="Open Secret"

# META
NEXT_PUBLIC_TWITTER="Chat with Near Accounts like never before with Open Secret at opensecret.vercel.app"